{% extends 'base.html' %}
{% load static %}
{% block title %} {{user.username}} {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}
{% block content %}
    <div class="container-messages">
        {% if messages %}
            {% for message in messages %}
                <p class="message">{{message}}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container-page">
        <h1>Seu Perfil</h1>
        <div class="container-perfil" id="view-mode">
            <div class="container-foto">
                <div class="foto-perfil">
                    <img class="foto" src="{{ perfil.foto_perfil.url }}" alt="fotoperfil">
                </div>
                <h4>Status:</h4>
                <p>{{perfil.status}}</p>
            </div>
            <div class="container-infos">
                <h3 class="h3-user">User: {{user.username}}</h3>
                    <div class="container-bio">
                        <p>{{perfil.bio}}</p>
                    </div>
                <h3 class="h3-email">Email: {{user.email}}</h3>
                <button onclick="toggleEditMode()">Editar Perfil</button>
            </div>
        </div>
        <div class="container-botoes"> 
            <div id="edit-mode" style="display:none;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" onclick="toggleEditMode()" class="btn btn-secondary">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        function toggleEditMode() {
        const viewMode = document.getElementById('view-mode');
        const editMode = document.getElementById('edit-mode');
        if (viewMode.style.display === 'none') {
            viewMode.style.display = 'block';
            editMode.style.display = 'none';
        } else {
            viewMode.style.display = 'none';
            editMode.style.display = 'block';
        }
    }
    </script>
{% endblock %}

